.recomand {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  .recomandtext {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    h3 {
      font-size: 2.4rem;
      span {
        padding-left: 5px;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    p{
      text-align: left;
      font-size: 1.6rem;
    }
  }
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
